.queue {
  width: 100%;
  border-radius: 5px;
}

.video__container {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.video__container_duration {
  margin-left: auto;
}
