body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-repeat: no-repeat;

  /* background-color: rgb(243 244 246); */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
  /* background-color: rgb(243 244 246);
  background-image: radial-gradient(circle at top, #66fff0, #fff 50%); */
  /* min-height: 100vh; */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  display: inline-block;
  animation: pulse 1s infinite;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(13 148 136);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.button:hover {
  background-color: rgb(20 184 166);
}

.theme {
  transition: 1s all ease;
  width: 100%;
  height: 100%;
}

.light {
  background-color: white;
  color: #111 !important;
  /* color: #bbb; */
}

.dark {
  background-color: #111;
  color: #bbb !important;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dark svg {
  fill: aliceblue !important;
}

.light svg {
  fill: #111 !important;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
