.VideoPlayer__wrapper {
  background-color: rgb(255 255 255);
  border: 1px solid rgb(209 213 219);
  position: relative;
}

.left-side {
  width: 100%;
}

.VideoPlayer__left-side_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.current_title {
  font-weight: bold;
}

.userCount_wrapper {
  position: absolute;
  right: 10px;
  top: -5px;
}

.userCount_wrapper span {
  position: relative;
  top: -2px;
}
