.VideoPlayer__wrapper {
  border: 1px solid rgb(209 213 219);
  position: relative;
}

.left-side {
  width: 100%;
}

.VideoPlayer__left-side_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.VideoPlayer__left-side_wrapper__player-controller {
  display: flex;
  flex-direction: column;
  position: relative;
}

.current_title {
  font-weight: bold;
}

.userCount_wrapper {
  position: absolute;
  right: 10px;
  top: -5px;
}

.userCount_wrapper span {
  position: relative;
  top: -2px;
}

@media (max-width: 660px) {
  .VideoPlayer__left-side_wrapper {
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
  .VideoPlayer__left-side_wrapper__player-controller {
    align-items: center;
    justify-content: center;
  }
}
