.playerController {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid rgb(209 213 219);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.range-input {
  -webkit-appearance: none;
  height: 3px;
  background-color: rgb(13 148 136);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.range-input::-webkit-slider-thumb {
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: rgb(13 148 136);
}
