header {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  width: 100%;
}

.Header__right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.google-button {
  background: none;
  border: 2px solid rgb(13 148 136);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 10px;
  gap: 10px;
  background-color: rgb(13 148 136);
  color: white;
  border-radius: 5px;
}

.google-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.google-email {
  background-color: rgb(13 148 136);
  height: 45px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 5px;
}
